.step-container {
  &__step-title {
    display: flex;
    align-items: center;
    color: #fff;
    margin: 2em 0;

    &-icon {
      background: linear-gradient(180deg, #7834f9 21.35%, #60ccf0 100%);
      border-radius: 50%;
      width: 40px;
      height: 40px;
      font-size: 18px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-right: 10px;
    }

    &-text {
      font-size: 28px;
      line-height: 43px;
      font-weight: 400;
      letter-spacing: -0.04em;
      text-transform: uppercase;
    }
  }

  &__step-form {
    label {
      font-size: 18px;
      line-height: 32px;
      display: block;
      margin-bottom: 1em;
      color: #fff;
    }

    input,
    textarea,
    select {
      background-color: #2b465c;
      color: #8aaabe;
      width: 100%;
      padding: 16px;
      border: 0;
    }

    textarea {
      height: 150px;
      font-family: inherit;
    }

    &--file-upload {
      input {
        display: none;
      }

      label {
        color: #fff;
        padding: 0.5rem;
        font-size: 18px;
        line-height: 32px;
        border-radius: 0.3rem;
        cursor: pointer;
        margin-top: 1rem;
        margin-bottom: 0;
        border: 2px solid;
        border-image-source: linear-gradient(180deg, #7834f9 21.35%, #60ccf0 100%);
        border-image-slice: 1;
        width: fit-content;
        padding: 16px;
      }
    }
  }

  &__form-input {
    &:not(:last-child) {
      margin-bottom: 1.25em;
    }

    > *[class~='text--alert'] {
      color: #fc6471;
      font-size: 18px;
      line-height: 32px;
      border: none;
      text-transform: none;
      justify-content: flex-start;
      min-height: unset;
    }
  }

  &__button {
    font-size: 1em;
    font-weight: 600;
    color: #fefefe;
    width: 257px;
    height: 64px;
    margin-right: 16px;
    background: linear-gradient(92.67deg, #7834f9 0%, #67cff9 100%);
    display: inline-flex;
    padding: 0 40px;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 0;
    border: 0;

    &--secondary {
      background: #132d43;
      border: 1px solid;
      border-image-source: linear-gradient(91.25deg, #7834f9 0%, #67cff9 100%);
      border-image-slice: 1 !important;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
