* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}

#root {
  padding: 2em 3em;
  margin: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  margin-bottom: 1rem;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  ul > li {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 1rem;
    }
  }
}

section {
  flex: 1 0 auto;
}

footer {
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

  button {
    font-size: 24px;
    background: transparent;
    border: 2px solid #000;
    padding: 10px 20px;
    color: #000;
    cursor: pointer;
    margin-right: 1em;

    &:last-child {
      margin-right: 0;
    }

    &:disabled {
      border: 1px solid #999;
      color: #999;
      cursor: auto;
    }
  }

  .navigation {
    display: flex;
    justify-content: center;
  }

  .actions {
    display: flex;
    justify-content: flex-end;
  }
}

h2 {
  font-size: 48px;
  text-transform: uppercase;
  letter-spacing: -0.03px;
  line-height: 48px;
}

input,
textarea,
button {
  font-family: inherit;
}

.widget {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 25px;

  .poap-widget {
    display: flex;
    flex-direction: column;

    img {
      margin-bottom: 1em;
    }
  }

  button {
    font-size: inherit;
  }
}

.nft-publish {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 25px;
  margin-top: 20%;

  form {
    > * {
      margin-bottom: 0.5em;
    }

    input {
      font-size: inherit;
      padding: 0.25em 0.5em;
    }

    label {
      margin-right: 0.5em;
    }

    button {
      font-size: inherit;
    }

    .publish-button {
      text-align: center;
      margin-top: 2em;
    }
  }
}

.nft-list {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__item {
    display: flex;
    margin-bottom: 0.5em;
    width: 100%;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__data {
    flex-grow: 1;
    border: 1px solid #999;
    margin-right: 1em;
    padding: 0.25em 0.5em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__buy {
    display: flex;
  }
}
